<h1><%= @recipe.name %></h1>
<% @recipe.ingredients.each do |i| %>
  <h3><%= i.name i.amounts[0].ingredient_amount i.unit%></h3>
<% end %>
<h4>Method</h4>
<p><%= @recipe.method %></p>
<h4>Notes</h4>
<p><%= @recipe.notes %></p>
